body {
  text-align: center;
  padding: 0;
  margin: 10px;
  font-family: -apple-system;
}

a {
  text-decoration: none;
}

#thumbnails {
  margin-bottom: 1em;
  height: 85px;
}

#thumbnails div.thumbnail {
  display: inline-block;
  border: 1px solid lightgrey;
  margin: 1px;
  width: 65px;
  height: 65px;
  padding: 1px;
  border-radius: 6px;
}

#thumbnails div.thumbnail img {
  width: 65px;
  height: 65px;
  border-radius: 4px;
}

#thumbnails div.thumbnail .state {
  position: absolute;
  width: 15px;
  height: 17px;
  color: white;
  text-align: left;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 13px;
  line-height: 16px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 16px;
  margin-left: -3px;
  margin-top: -3px;
  font-family: serif;
  z-index: 10;
}

#thumbnails div.this_asset div.thumbnail .state {
  width: 18px;
  height: 21px;
  color: white;
  text-align: left;
  padding-left: 4px;
  padding-top: 2px;
  font-size: 17px;
  line-height: 16px;
  border-bottom-right-radius: 19px;
  border-width: 10px;
  margin-left: -2px;
  margin-top: -2px;
  font-family: serif;
}

#thumbnails div.thumbnail:not(.state-Unknown) img {
  mask-image:
      radial-gradient(circle at top left, transparent 0, transparent 16px, black 16px),
      radial-gradient(circle at top right, transparent 0, transparent 0px, black 0px),
      radial-gradient(circle at bottom left, transparent 0, transparent 0px, black 0px),
      radial-gradient(circle at bottom right, transparent 0, transparent 0px, black 0px);
  mask-position: top left, top right, bottom left, bottom right;
  mask-repeat: no-repeat;
  mask-size: 50% 50%;
}

#thumbnails div.this_asset div:not(.state-Unknown) img {
  mask-image:
      radial-gradient(circle at top left, transparent 0, transparent 22px, black 22px),
      radial-gradient(circle at top right, transparent 0, transparent 0px, black 0px),
      radial-gradient(circle at bottom left, transparent 0, transparent 0px, black 0px),
      radial-gradient(circle at bottom right, transparent 0, transparent 0px, black 0px);
  mask-position: top left, top right, bottom left, bottom right;
  mask-repeat: no-repeat;
  mask-size: 50% 50%;
}

#thumbnails div.thumbnail:not(.state-Unknown) {
  border-width: 2px;
  margin: 0;
}

.this_asset {
  margin-left: 3px;
  margin-right: 3px;
}

#thumbnails .this_asset div.thumbnail:not(.state-Unknown) {
  border-width: 3px;
  margin: -1px;
  border-radius: 8px;
}

#thumbnails div.thumbnail.state-Approved {
  border-color: green;
}

#thumbnails div.thumbnail.state-Approved .state {
  background: green;
}

#thumbnails div.thumbnail.state-Rejected {
  border-color: red;
}

#thumbnails div.thumbnail.state-Rejected .state {
  background: red;
}

#thumbnails :not(.this_asset) div.thumbnail.state-Rejected img {
  opacity: 0.5;
  filter: saturate(0%);
  z-index: -10;
}

#thumbnails div.thumbnail.state-Needs-Action {
  border-color: blue;
}

#thumbnails div.thumbnail.state-Needs-Action .state {
  background: blue;
}

#thumbnails div.this_asset {
  display: inline-block;
}

#thumbnails div.this_asset div.thumbnail {
  width: 85px;
  height: 85px;
}

#thumbnails div.this_asset div.thumbnail:not(.state-Unknown) img {
  width: 83px;
  height: 83px;
  margin-top: 1px;
}

#thumbnails div.this_asset div.thumbnail img {
  width: 85px;
  height: 85px;
}

#thumbnails img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

#thumbnails .placeholder {
  width: 65px;
  height: 65px;
  display: inline-block;
  border: 2px solid lightgrey;
  opacity: 0.5;
}

.thumbnail_big {
  width: 85px;
  height: 85px;
}

img#big {
  max-width: calc(100vw - 20px);
  /* screen height - 85px (thumbnail bar) - 20px (body padding) -1em (margin below thumbnail bar) - 18px (metadata) - 1em (margin below metadata)*/
  max-height: calc(100vh - 85px - 20px - 1em - 18px - 1em);
}

#debug {
  position: absolute;
  border: 2px solid darkgrey;
  text-align: right;
  opacity: 0.25;
  padding: 5px 10px;
  border-radius: 10px;
  background: white;
  right: 10px;
  top: 10px;
  line-height: 1.25em;
}

#debug:hover {
  opacity: 1;
  box-shadow: 0px 0px 3px darkgrey;
  z-index: 1000;
}

#debug ul {
  text-align: left;
}

.favorite {
  text-align: right;
  position: absolute;
  z-index: 10000;
  margin-top: 53px;
  margin-left: 47px;
  color: white;
  display: inline;
  text-shadow: 0px 0px 3px black;
  line-height: 0px;
}

.this_asset .favorite {
  font-size: 21px;
  margin-top: 69px;
  margin-left: 61px;
}