<a href="{{ url_for('index', localIdentifier=asset['localIdentifier'])}}">
  <div class="thumbnail state-{{ asset['state'] | replace(' ', '-') }}">
    {% if asset['state'] == 'Flagged' %}
      <div class="state">✓</div>
    {% elif asset['state'] == 'Rejected' %}
      <div class="state">✘</div>
    {% elif asset['state'] == 'Needs Action' %}
      <div class="state">ℹ</div>
    {% endif %}

    {% if asset.isFavorite %}
      <div class="favorite">♥</div>
    {% endif %}

    <img
      src="{{ url_for('thumbnail', localIdentifier=asset['localIdentifier']) }}"
      class="thumbnail state-{{ asset['state'] | replace(' ', '-')  }}">
  </div>
</a>
